HF_API_KEY=hf_key
EMBED_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2
GEMINI_API_KEY=api-key
LLM_MODEL_NAME=gemini-3.6-flash
CHROMA_DB_HOST=localhost
CHROMA_DB_PORT=9000
RAG_DATA_DIR=rag_data
CHUNK_LENGTH=1000
SERVER_PORT=4000
